

:root {
    --white: #EEEEEE; /*Nuevo*/
    --plate: #e9e9e9;
    --red: #D72323;/*Nuevo*/
    --gray-blue: #fefefe;
    --dark-grey: #3A4750;/*Nuevo*/
    --black-grey: #303841;/*Nuevo*/
    --black: #000;
    --blue-green: #1A4645;
    --blue: #266867;
    --orange: #F58800;
    --yellow: #F88C24;
    --gray: #6f6e6e;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --tl: 24px;
}

.Preview-pdf{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100%;
    margin: 0;
    padding: 0;
}
.reset-button-one{
    background-color: var(--black-grey);
    color: var(--white);
    border-radius: 12px;
    border: none;
    height: 25px;
    margin-top: 5px;
}
.download-button-one {
    background-color: var(--red);
    color: var(--white);
    border-radius: 12px;
    border: none;
    height: 25px;
    width: 110px;
    margin-top: 4px;
}
.preview-button-for-vertical-two{
    background-color: var(--black-grey);
    color: var(--white);
    border-radius: 12px;
    border: none;
    height: 25px;
    margin-top: 5px;
    font-size: small;
}
.container-one{
    background-color: rgb(249, 249, 249);
    position: absolute;
    width: 70%;
    height: 100%;
    padding: 0;
    left: 50%;
    top: 58%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border: var(--black) .5px solid;
    border-radius: 8px;
}
.upper-container-one{
    position: relative;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 14%;
    margin: 0;
    padding: 0;
}
.logo-input-one{
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
    left: 3%;
    align-items: center;
    margin-top: 12px;
}
.custom-file-upload-one{
    text-align: center;
    position: relative;
    display: grid;
    width: 100px;
    height: 90px;
    border: rgb(67, 67, 67);
    background-color: rgb(214, 214, 214);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    font-size: 5;
}
.file-upload-content {
    display: flex;
    align-items: center;
}
.done-icon {
    font-size: 14px; /* Ajusta el tamaño del ícono */
    margin-right: 6px; /* Espaciado entre el ícono y el texto */
    color: green;
}
.image-title {
    font-size: 12px; /* Ajusta el tamaño del texto */
    max-width: calc(100% - 30px); /* Ajusta este valor según tu diseño */
    text-overflow: ellipsis;
}
#cancel-logo-one{
    position: absolute;
    left: 17%;
    top: 1%;
}
.date-input-one{
    position: relative;
    margin-top: 20px;
    right: 5%;
}
#cancel-date-one{
    position: absolute;
    top: 20%;
    right: 2%;
    z-index: 3;
}
.title-input-one{
    position: relative;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0;
    width: 70%;
    height: 2%;
    left: 2%;
    display: flex;
    flex-direction: column
}
.fill-title-one{
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #EEEEEE;
}
#cancel-title-one{
    position: absolute;
    left: 101%;
    margin-top: 0px;
    z-index: 2;
}
.text-input-one{
    position: relative;
    width: 98%;
    height: 10%;
    left: 1%;
    top: 1%;
    resize: none;
}
.principal-text-one{
    position: relative;
    width: 98%;
    height: 90px;
    resize: none;
    border: var(--plate);
    border-radius: 8px;
    background: var(--plate);
}
#cancel-text-one{
    position: absolute;
    left: 95.7%;
    top: 4%;
    z-index: 3;
}
.container-image-for-vertical-two{    
    position: relative;
    display: flex;
    top: 6%;
    width: 100%;
    height: 50vh;
    justify-content: space-around;
    border: none;
}
.image-for-vertical-two {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50vh; 
    border: rgb(67, 67, 67) solid 1px;
    background-color: rgb(214, 214, 214);
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#cancel-image-one{
    position: absolute;
    margin-top: 0%;
    left: 45%;
    z-index: 2;
    text-align: center;
}
#cancel-image-two{
    position: absolute;
    margin-top: 0%;
    right: 2%;
    z-index: 2;
    text-align: center;
}
.description-div-for-vertical-two{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    top: 8%;
}
.description-text-one{
    position: relative;
    width: 35%;
    height: auto;
    border: none;
    background: var(--plate);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.description-text-two{
    position: relative;
    width: 35%;
    height: auto;
    border: none;
    background: var(--plate);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#cancel-description-1-one{
    position: absolute;
    left: 43%;
}
#cancel-description-2-one{
    position: absolute;
    right: 4%;
}
.contact-div-for-vertical-two{
    position: relative;
    display: flex;
    width: 90%;
    margin: 0;
    padding: 0;
    left: 1%;
    top: 13%;
}
.contacto{
    width: 80%;
    height: auto;
    border: none;
    border-radius: 8px;
    background: var(--plate);
}
#cancel-contact-one-vertical{
    position: absolute;
    left: 96%;
    z-index: 2;
}
.erase-download-buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 99.9%;
    height: 5%;
}

.cancel-button-for-vertical-one{
    color: white;
    border:var(--black) solid 1px;
    border-radius: 50%;
    background: var(--black-grey);
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
}
.contact-input-for-vertical-two{
    width: 95%;
    height: auto;
    border: none;
    border-radius: 8px;
    background: var(--plate);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Mobile */
@media (min-width: 320px) and (max-width: 415px) {
    .container-one{
        background-color: rgb(249, 249, 249);
        position: absolute;
        width: 90%;
        height: 93%;
        padding: 0;
        left: 50%;
        top: 52%;
        transform: translate(-50%,-50%);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border: var(--black) .5px solid;
        border-radius: 8px;
    }
    .erase-download-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .reset-button-one{
        background-color: var(--dark-grey);
        color: var(--white);
        border-radius: 12px;
        border: none;
        height: 20px;
    }
    .preview-button-for-vertical-two{
        background-color: var(--black-grey);
        color: var(--white);
        border-radius: 12px;
        border: none;
        height: 3.07vh;
        margin-top: 0px;
        font-size: x-small;
    }
    .download-button-one {
        background-color: var(--red);
        color: var(--white);
        border-radius: 12px;
        border: none;
        height: 20px;
        width: 110px;
        margin-top: 0px;
    }
    .container-logo-one{
        position: absolute;
        height: 100%;
        width: 40%;
        
    }
    .logo-input-one{
        top: 0;
        margin-top: 0;
        height: 100%;

    }
    .custom-file-upload-one{
        font-size: .6em;
        width: 100%;
        height: 100%;
        border-radius: 8px;;
    }
    .title-input-one{
        width: 85%;
    }
    .text-input-one{
        position: relative;
        height: 15%;
    }
    .principal-text-one{
        height: 100%;
    }
    .container-image-for-vertical-two{
        position: relative;
        display: flex;
        width: 100%;
        height: 30vh;
        justify-content: space-around;
        border: none;
        top: 5%;
    }
    .image-for-vertical-two{
        position: relative;
        width: 45%;
        height: auto;
    }
    .description-div-for-vertical-two{
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        margin-right: 7%;
        top: 7%;
    }
    .description-text-one{
        width: 35%;
        height: auto;
        border: none;
        background: var(--plate);
        border-radius: 8px;
    }
    #cancel-date-one{
        position: absolute;
        top: -4%;
        right: 1%;
        z-index: 3;
    }
    #cancel-logo-one{
        position: absolute;
        left: 105%;
        top: 1%;
    }
    #cancel-title-one{
        position: absolute;
        left: 102%;
        margin-top: -7%;
        z-index: 2;
    }
    #cancel-text-one{
        position: absolute;
        left: 92%;
        top: 4%;
        z-index: 3;
    }
    #cancel-image-one{
        position: absolute;
        top: 2%;
        left: 41%;
        z-index: 2;
        text-align: center;
    }
    #cancel-image-two{
        position: absolute;
        margin-top: 1%;
        right: 3%;
        z-index: 2;
        text-align: center;
    }
    #cancel-description-1-one{
        position: absolute;
        left: 45%;
    }
    #cancel-description-2-one{
        position: absolute;
        right: 1%;
    }
    .contact-div-for-vertical-two{
        position: relative;
        display: flex;
        width: 90%;
        margin: 0;
        padding: 0;
        left: 1%;
        top: 12%
    }
    .contact-input-for-vertical-two{
        width: 95%;
        height: auto;
        border: none;
        border-radius: 8px;
        background: var(--plate);
        margin-top: 18%;
    }
    #cancel-contact-one-vertical{
        position: absolute;
        right: -5%;
        z-index: 2;
        top: 45%;
    }
    }